<div style="margin:15px 50px 15px"">
	<p>
	  <%= form_for :tweet, url: tweets_path, method: :post do |f| %>
	    <%= f.text_field :message %>
	    <%= f.submit "Send Tweet" %>
	  <% end %>
	</p>
</div>
