<% if !current_user.nil? %>
	<div class="panel panel-primary" style="margin:15px 15px 15px" >
		<table class="table table-striped" style="width:100%">
			<% unless @tweets.nil? || @tweets.each do |f| %>
				<tr>
					<td>
						<p class="text-info"><%= raw auto_link(f.text) %>
						<span><%= raw time_ago_in_words(f.created_at) %> ago</span></p>

					</td>
				</tr>
			<% end %><% end %>
		</table>
	</div>

<% else %>
	<p class="text-danger">You must log in to send a tweet.</p>
<% end %>
